<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>

    <table class="table table-bordered table-striped table-responsive-stack"  id="tableOne">

        <thead class="thead-dark">
          <tr>
            <th scope="col">country</th>
            <th scope="col">province</th>
            <th scope="col">population</th>
            <th scope="col">confirmed</th>
            <th scope="col">deaths</th>
            <th scope="col">recovered</th>
          </tr>
        </thead>

        <tbody>
            <% data.locations.forEach(location =>{ %>
                <tr>
                    <td> <%= location.country %> </td>
                    <% if (location.province == "") { %>
                        <td> - </td>
                    <% } else { %>
                        <td> <%= location.province %> </td>
                    <% } %>
                    <td> <%= location.country_population %> </td>
                    <td> <%= location.latest.confirmed %> </td>
                    <td> <%= location.latest.deaths %> </td>
                    <td> <%= location.latest.recovered %> </td>
                </tr>         
            <% }); %>
        </tbody>

      </table>
    
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
<%- include ('../partials/scripts') %>
</html>